<%= form_for(@cooking) do |f| %>
  <% if @cooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cooking.errors.count, "error") %> prohibited this cooking from being saved:</h2>

      <ul>
      <% @cooking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cooking_name %><br />
    <%= f.text_field :cooking_name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :meal_date %><br />
    <%= f.datetime_select :meal_date %>
  </div>
  <div class="field">
    <%= f.label :meal_type %><br />
    <%= f.number_field :meal_type %>
  </div>
  <div class="field">
    <%= f.label :assesment %><br />
    <%= f.text_field :assesment %>
  </div>
  <div class="field">
    <%= f.label :my_comment %><br />
    <%= f.text_area :my_comment %>
  </div>
  <div class="field">
    <%= f.label :image1 %><br />
    <%= f.text_area :image1 %>
  </div>
  <div class="field">
    <%= f.label :image2 %><br />
    <%= f.text_area :image2 %>
  </div>
  <div class="field">
    <%= f.label :image3 %><br />
    <%= f.text_area :image3 %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
