<div class="page-header">
        <h2>Cooking lists</h2>
</div>
<table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="danger">
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
                <th>Assesment</th>
                <th>Comment</th>
                <th>Image</th>
                <th>Action</th>
        </tr>
        </thead>
        <% @cookings.each do |cooking| %>
        <tbody>
                <tr class="active">
                        <td><%= cooking.cooking_name %></td>
                        <td><%= cooking.meal_date.strftime("%Y/%m/%d %H:%M") %></td>
                        <% case cooking.meal_type %>
                        <% when 1 then %>
                                <td>Breakfast</td>
                        <% when 2 then %>
                                <td>Lunch</td>
                        <% when 3 then %>
                                <td>Dinner</td>
                        <% when 4 then %>
                                <td>Other</td>
                        <% end %>
                        <td><%= cooking.assesment %></td>
                        <td><%= cooking.my_comment %></td>
                        <td><%= image_tag url_for(:action => 'puts_image', :id => cooking.id), :alt => cooking.image1_name, :size => '120x120' %></td>
                        <td>
                                <div class="btn-group-vertical">
                                        <%= link_to 'Show', cooking, :class => 'btn btn-warning' %>
                                        <%= link_to 'Edit', edit_cooking_path(cooking), :class => 'btn btn-success' %>
                                        <%= link_to 'Delete', cooking, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-info' %>
                                </div>
                        </td>
                </tr>
        </tbody>
        <% end %>
</table>

<a href="/cookings/new"><button type="button" class="btn btn-success">Register New Cooking</button></a>
