<p id="notice"><%= notice %></p>

<p>
  <b>Cooking name:</b>
  <%= @cooking.cooking_name %>
</p>

<p>
  <b>User:</b>
  <%= @cooking.user_id %>
</p>

<p>
  <b>Meal date:</b>
  <%= @cooking.meal_date %>
</p>

<p>
  <b>Meal type:</b>
  <%= @cooking.meal_type %>
</p>

<p>
  <b>Assesment:</b>
  <%= @cooking.assesment %>
</p>

<p>
  <b>My comment:</b>
  <%= @cooking.my_comment %>
</p>

<p>
  <b>Image1:</b>
  <%= @cooking.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%= @cooking.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%= @cooking.image3 %>
</p>

<p>
  <b>Category:</b>
  <%= @cooking.category_id %>
</p>

<p>
  <b>Display:</b>
  <%= @cooking.display %>
</p>


<%= link_to 'Edit', edit_cooking_path(@cooking) %> |
<%= link_to 'Back', cookings_path %>
