<div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= notice %></strong>
</div>
<div class="well">
        <p>
        <b>Meal name:</b>
        <%= @cooking.cooking_name %>
        </p>

        <p>
        <b>Meal date:</b>
        <%= @cooking.meal_date %>
        </p>

        <p>
        <b>Meal type:</b>
        <% case @cooking.meal_type %>
        <% when 1 then %>
                Breakfast
        <% when 2 then %>
                Lunch
        <% when 3 then %>
                Dinner
        <% when 4 then %>
                Other
        <% end %>
        </p>

        <p>
        <b>Assesment:</b>
        <%= @cooking.assesment %>
        </p>

        <p>
        <b>Comment:</b>
        <%= @cooking.my_comment %>
        </p>

        <p>
        <b>Image:</b>
        <%= image_tag url_for(:action => 'puts_image', :id => @cooking.id), :alt => @cooking.image1_name, :size => '100x100' %>
        </p>

        <%= link_to 'Edit', edit_cooking_path(@cooking), :class => 'btn btn-warning' %> |
        <%= link_to 'Back', cookings_path, :class => 'btn btn-danger' %>
</div>
